<h2>Home Page</h2>

<ul>
	<li><a href="/check_in">Customer Check In</a></li>
	<li><a href="#">Log New Order / Add Item / Remove Items to Order</a></li>



	<li><a href="/check_out">Customer Check Out</a></li>
	<li>Reports
		<ul>
			<li><a href="#">Report 1</a></li>
			<li><a href="#">Report 2</a></li>
			<li><a href="#">Report 3</a></li>
		</ul>
	</li>


</ul>
